__pycache__/app.cpython-39.pyc
__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/conversion.cpython-39.pyc
pocer/__pycache__/conversion.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
pocer/__pycache__/game.cpython-312.pyc
pocer/__pycache__/judge.cpython-39.pyc
pocer/__pycache__/judge.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_conversion.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_judge.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
pocer/image/cards/C2.png
pocer/image/cards/C3.png
pocer/image/cards/C4.png
pocer/image/cards/C5.png
pocer/image/cards/C6.png
pocer/image/cards/C7.png
pocer/image/cards/C8.png
pocer/image/cards/C9.png
pocer/image/cards/C10.png
pocer/image/cards/CA.png
pocer/image/cards/CJ.png
pocer/image/cards/CK.png
pocer/image/cards/CQ.png
pocer/image/cards/D2.png
pocer/image/cards/D3.png
pocer/image/cards/D4.png
pocer/image/cards/D5.png
pocer/image/cards/D6.png
pocer/image/cards/D7.png
pocer/image/cards/D8.png
pocer/image/cards/D9.png
pocer/image/cards/D10.png
pocer/image/cards/DA.png
pocer/image/cards/DJ.png
pocer/image/cards/DK.png
pocer/image/cards/DQ.png
pocer/image/cards/H2.png
pocer/image/cards/H3.png
pocer/image/cards/H4.png
pocer/image/cards/H5.png
pocer/image/cards/H6.png
pocer/image/cards/H7.png
pocer/image/cards/H8.png
pocer/image/cards/H9.png
pocer/image/cards/H10.png
pocer/image/cards/HA.png
pocer/image/cards/HJ.png
pocer/image/cards/HK.png
pocer/image/cards/HQ.png
pocer/image/cards/S2.png
pocer/image/cards/S3.png
pocer/image/cards/S4.png
pocer/image/cards/S5.png
pocer/image/cards/S6.png
pocer/image/cards/S7.png
pocer/image/cards/S8.png
pocer/image/cards/S9.png
pocer/image/cards/S10.png
pocer/image/cards/SA.png
pocer/image/cards/SJ.png
pocer/image/cards/SK.png
pocer/image/cards/SQ.png
pocer/image/cards/card_back.png
