__pycache__/app.cpython-39.pyc
__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/conversion.cpython-39.pyc
pocer/__pycache__/conversion.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
pocer/__pycache__/game.cpython-312.pyc
pocer/__pycache__/judge.cpython-39.pyc
pocer/__pycache__/judge.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_conversion.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_judge.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
pocer/__pycache__/__init__.cpython-39.pyc
pocer/__pycache__/app.cpython-39.pyc
pocer/__pycache__/app.cpython-312.pyc
pocer/__pycache__/distribution.cpython-39.pyc
pocer/__pycache__/distribution.cpython-312.pyc
tests/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_distribution.cpython-39-pytest-6.2.4.pyc
pocer/image/cards/card_back.png
pocer/image/cards/card_club_01.png
pocer/image/cards/card_club_02.png
pocer/image/cards/card_club_03.png
pocer/image/cards/card_club_04.png
pocer/image/cards/card_club_05.png
pocer/image/cards/card_club_06.png
pocer/image/cards/card_club_07.png
pocer/image/cards/card_club_08.png
pocer/image/cards/card_club_09.png
pocer/image/cards/card_club_10.png
pocer/image/cards/card_club_11.png
pocer/image/cards/card_club_12.png
pocer/image/cards/card_club_13.png
pocer/image/cards/card_diamond_01.png
pocer/image/cards/card_diamond_02.png
pocer/image/cards/card_diamond_03.png
pocer/image/cards/card_diamond_04.png
pocer/image/cards/card_diamond_05.png
pocer/image/cards/card_diamond_06.png
pocer/image/cards/card_diamond_07.png
pocer/image/cards/card_diamond_08.png
pocer/image/cards/card_diamond_09.png
pocer/image/cards/card_diamond_10.png
pocer/image/cards/card_diamond_11.png
pocer/image/cards/card_diamond_12.png
pocer/image/cards/card_diamond_13.png
pocer/image/cards/card_heart_01.png
pocer/image/cards/card_heart_02.png
pocer/image/cards/card_heart_03.png
pocer/image/cards/card_heart_04.png
pocer/image/cards/card_heart_05.png
pocer/image/cards/card_heart_06.png
pocer/image/cards/card_heart_07.png
pocer/image/cards/card_heart_08.png
pocer/image/cards/card_heart_09.png
pocer/image/cards/card_heart_10.png
pocer/image/cards/card_heart_11.png
pocer/image/cards/card_heart_12.png
pocer/image/cards/card_heart_13.png
pocer/image/cards/card_spade_01.png
pocer/image/cards/card_spade_02.png
pocer/image/cards/card_spade_03.png
pocer/image/cards/card_spade_04.png
pocer/image/cards/card_spade_05.png
pocer/image/cards/card_spade_06.png
pocer/image/cards/card_spade_07.png
pocer/image/cards/card_spade_08.png
pocer/image/cards/card_spade_09.png
pocer/image/cards/card_spade_10.png
pocer/image/cards/card_spade_11.png
pocer/image/cards/card_spade_12.png
pocer/image/cards/card_spade_13.png
